<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer contraseña</title>
</head>
<body style="background-color: #f6f6f6; font-family: Arial, sans-serif; margin: 0; padding: 0; font-size: 14px; line-height: 1.4; -webkit-font-smoothing: antialiased;">
<table role="presentation" style="width: 100%; background-color: #f6f6f6; margin: 0; padding: 0; border-collapse: collapse;">
  <tr>
    <td>&nbsp;</td>
    <td style="display: block; max-width: 580px; padding: 10px; margin: 0 auto;">
      <div style="max-width: 580px; padding: 20px; background-color: #ffffff; border-radius: 5px;">

        <!-- Header -->
        <h1 style="font-size: 28px; color: #333333; text-align: center; margin-bottom: 20px;">Restablecer Contraseña</h1>
        <p style="font-size: 14px; margin: 0 0 15px;">Hola, <span th:text="${user}"></span></p>
        <p style="font-size: 14px; margin: 0 0 15px;">Hemos recibido una solicitud para restablecer tu contraseña. Haz clic en el botón a continuación para restablecerla:</p>

        <!-- Button -->
        <div style="text-align: center; margin-top: 20px;">
          <a th:href="${resetUrl}" style="display: inline-block; padding: 12px 25px; background-color: #3498db; color: #ffffff; border-radius: 5px; font-size: 14px; font-weight: bold; text-decoration: none;">Restablecer Contraseña</a>
        </div>

        <p style="font-size: 14px; margin: 15px 0 15px;">Si no solicitaste este cambio, puedes ignorar este correo.</p>
        <p style="font-size: 14px; margin: 15px 0 15px;">Gracias, <br/> Restaurante Doña Bere</p>

        <!-- Footer -->
        <div style="text-align: center; margin-top: 20px; font-size: 12px; color: #999999;">
          <p style="margin: 5px;">Restaurante Doña Bere</p>
          <p style="margin: 5px;">
            <a href="https://d35t5x230gsu7i.cloudfront.net" style="color: #999999; text-decoration: none;">🌐 https://d35t5x230gsu7i.cloudfront.net</a> - <span>📞 +51 990 099 990</span><br>
            <span>✉️ restaurantbere@gmail.com</span>
          </p>
        </div>

      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
